<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MagEvents - Home</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="/css/app.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sanchez:ital@0;1&display=swap" rel="stylesheet">
</head>
<body class="p-0 m-0 vh-100">
    <main class="vh-100 d-flex">
        <div class="vh-100 d-flex flex-column justify-content-evenly align-items-center" style="width: 50%;background-color: black; color: white;">
            <!-- <img src="/images/logo-no-background.png" alt="" width="100%"> -->
            <p class="fs-4 text-center slogan px-3">Réservations fluides, conférences réussies : Réservez votre salle avec facilité!</p>
        </div>
        <div class="container login-sign-up p-0 m-0" style="width: 50%;">   
            <div class="container buttons d-flex align-items-center justify-content-evenly p-0" style="height: 100%;">
                <div class="d-grid gap-5">
                    <a href="/signup" class="btn btn-primary theme-color-button" type="button">S'inscrire</a>
                    <a href="/login" class="btn btn-primary theme-color-button" type="button">Se connecter</a>
                </div>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>