<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MagEvents - Home</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="/css/app.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/css/app.css">

    <link href="https://fonts.googleapis.com/css2?family=Sanchez:ital@0;1&display=swap" rel="stylesheet">
</head>

<body class="p-0 m-0 vh-100">
    <main class="vh-100 d-flex flex-column">
        <div class="d-flex align-items-center justify-content-evenly nav-insc"
            style="width: 100%;height:20%;background-color: black; color: white;">
            <a href="/"><img src="/images/logo-no-background.png" alt="" style="width: 10%;"></a>
            <p class="fs-3 m-0 text-center">Organisez et participez : votre portail d'événements, simple et efficace !
        </div>
        </div>
        <div class="sign-up p-0 m-0">
            <div class="container inscription">
                <div class="container my-5">
                    <p class="fs-1 text-start ms-4">Inscrivez-vous</p>
                </div>
                <form action="/signup" method="post" class="container">
                    <div class="row mb-5 mx-4">
                        <div class="container">
                            <p class="fs-2 text-start">Quel est votre profil?</p>
                        </div>
                        <div class="form-check mx-4 col border border-success rounded-pill d-flex align-items-center p-3" id="participant">
                            <input class="form-check-input m-0" type="radio" name="profil" value="participant" id="participant__" checked>
                            <label class="form-check-label fs-4" for="participant__">
                                Participant
                            </label>
                        </div>
                        <div class="form-check mx-4 col border border-success rounded-pill d-flex align-items-center p-3" id="organisateur">
                            <input class="form-check-input m-0" type="radio" name="profil" value="organisateur" id="organisateur__">
                            <label class="form-check-label fs-4" for="organisateur__">
                                Organisateur
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-floating mb-5">
                                <input type="text" class="form-control" id="prenom" name="prenom" placeholder="Prénom"
                                    required style="height: 6rem; font-size: 1.5rem;">
                                <label for="prenom">Prénom</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating mb-5">
                                <input type="text" class="form-control" id="nom" name="nom" placeholder="Nom" required style="height: 6rem; font-size: 1.5rem;">
                                <label for="nom">Nom</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-floating mb-5">
                                <input type="email" class="form-control" id="email" name="email" placeholder="email"
                                    required style="height: 6rem; font-size: 1.5rem;">
                                <label for="email">Adresse Email</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-floating mb-5">
                                <input type="password" class="form-control" id="password" name="password"
                                    placeholder="Password" required style="height: 6rem; font-size: 1.5rem;">
                                <label for="password">Mot De Passe</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating mb-5">
                                <input type="password" class="form-control" id="confirmpassword"
                                    placeholder="confirmpassword" required style="height: 6rem; font-size: 1.5rem;">
                                <label for="confirmpassword">Confirmer le Mot De Passe</label>
                            </div>
                        </div>
                    </div>
                    <div class="container mt-5 d-flex align-items-center justify-content-center">
                        <button type="submit" class="btn btn-primary theme-color-button">Inscription</button>
                    </div>
                </form>
                <p class="mt-5">Vous avez déjà un compte? <a href="/login" class="signup-login">Connectez-vous</a></p>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script>
        const participant = document.getElementById('participant');
        const organisateur = document.getElementById('organisateur');

        function applyStyles() {
            if (document.getElementById('participant__').checked) {
                participant.classList.add('selected');
            } else {
                participant.classList.remove('selected');
            }
        }
        function handleRadioClick(event) {
            participant.classList.remove('selected');
            organisateur.classList.remove('selected');
            const selectedDiv = event.target.id === 'participant__' ? participant : organisateur;
            selectedDiv.classList.add('selected');
        }
        applyStyles();
        const radios = document.querySelectorAll('input[type="radio"]');
        radios.forEach(radio => {
            radio.addEventListener('click', handleRadioClick);
        });
    </script>
</body>

</html>